@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Zyzol", sans-serif;
    font-size: calc(100vw / 3440 * 10);
    box-sizing: border-box;
  }

  @media only screen and (max-width: 160em) {
    html {
      font-size: calc(100vw / 2560 * 12);
    }
  }
  @media only screen and (max-width: 120em) {
    html {
      font-size: calc(100vw / 1920 * 10);
    }
  }
  @media only screen and (max-width: 63.8em) {
    html {
      font-size: calc(100vw / 1024 * 10);
    }
  }
  @media only screen and (max-width: 36.25em) {
    html {
      font-size: calc(100vw / 580 * 10);
    }
  }
}

@layer components {
  /* Shadows */

  .text-border {
    display: inline-block;
    position: relative;
    -webkit-text-stroke: 4px #212121;
    filter: drop-shadow(2px 2px #212121);
  }

  @media only screen and(min-width: 768px) {
    .text-boder {
      filter: drop-shadow(4px 4px #212121);
    }
  }

  .text-border::before {
    content: attr(data-text);
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 0px;
  }

  .text-border-lg {
    -webkit-text-stroke: 8px #212121;
    filter: drop-shadow(2px 2px #212121);
  }

  .drop-shadow-filter {
    filter: drop-shadow(2px 2px #212121);
  }

  .drop-shadow-filter-lg {
    filter: drop-shadow(5px 5px #212121);
  }

  .box-shadow {
    border: 0.5rem solid #212121;
    filter: drop-shadow(0.6rem 0.6rem #212121);
  }

  .border-only {
    border: 0.5rem solid #212121;
  }

  .stop-scroll {
    overflow: hidden;
  }

  /* Navigation */

  .activeNavLink {
    position: relative;
    z-index: 20;
  }

  .activeNavLink::after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
    animation: scaleIn 0.2s both;
    border: 2px solid #212121;

    @apply md:border-only absolute -z-10 inline-block h-[130%] w-[140%] border-black bg-pink;
  }

  @keyframes scaleIn {
    0% {
      transform: translate(-100%, -100%);
      scale: 0.1;
    }
    100% {
      transform: translate(-50%, -50%);
      scale: 1;
    }
  }

  /* Input */
  .input {
    @apply box-shadow inline-block h-36 w-[55rem] rounded-full px-14 py-12 text-32 text-black text-opacity-90;
  }

  /* Check box */
  .checkbox {
    position: relative;
    display: block;
    width: 25rem;
    height: 60px;
  }
  .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }
  .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: 0.5s all;
  }

  .check:checked + label svg g path {
    stroke-dashoffset: 0;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #212112;
    border-radius: 2rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
  }
  /* Grid */
  .grid-auto-min {
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;
  }

  /* Color picker */

  .fix-pointer .w-color-alpha-pointer {
    top: 50% !important;
  }
  .fix-pointer .w-color-alpha-fill {
    transform: translate(-9px, -50%) !important;
    width: 0.8rem;
    height: 0.8rem;

    @apply border-only border-4;
  }

  /* Slider */

  .slider {
    -webkit-appearance: none;
    appearance: none;
    @apply h-6 w-44 rounded-full bg-black bg-opacity-10 opacity-80 outline-none transition-colors duration-300;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply drop-shadow-filter h-8 w-8 cursor-pointer rounded-full bg-pink;
  }

  .floatAnim {
    animation: float 2s ease-out infinite;
    transition: all 0.4s;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@font-face {
  font-family: "Zyzol Round";
  src:
    url("./assets/font/ZyzolRound.woff2") format("woff2"),
    url("./assets/font/ZyzolRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zyzol";
  src:
    url("./assets/font/ZyzolRegular.woff2") format("woff2"),
    url("./assets/font/ZyzolRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zyzol Outline";
  src:
    url("./assets/font/ZyzolOutline.woff2") format("woff2"),
    url("./assets/font/ZyzolOutline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
